# Configurações de Ambiente para a Especialização 'exemplo-audit'

# Alvo ou domínio padrão (all ou nome do servidor)
AUDIT_TARGET=all

# Janela temporal padrão
AUDIT_TIMEFRAME=now-24h

# Configurações para Envio de E-mail (SMTP)
# EMAIL_TO=sre-team@empresa.com,secops@empresa.com
# EMAIL_FROM=specialized-agent@empresa.com
# SMTP_HOST=smtp.office365.com
# SMTP_PORT=587
# SMTP_USER=notificacoes@empresa.com
# SMTP_PASSWORD=sua-senha-aqui
# SMTP_TLS=1
# SMTP_SSL=0
